// Colores
$color-principal: rgb(90, 90, 231);
$color-secundario: rgb(248, 69, 69);
$color-fondo: rgb(241, 241, 241);
$color-blanco: white;
$color-negro: black;

// Fuentes
$fuente-principal: 'Poppins', sans-serif;

// Tamaños
$fuente-grande: 52px;
$fuente-media: 42px;
$fuente-normal: 18px;
$fuente-pequena: 16px;
$fuente-titulo: 22px;

// Espaciados
$espaciado-base: 1rem;
$espaciado-grande: 2rem;
$espaciado-muy-grande: 3rem;